<nav class="navbar navbar-default navbar-static-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>

      <div class="logo">
        <%= link_to root_path() do %>
          <img src="http://jhonvalencia.com/logo-halali.png" class="logo-halali">
        <% end %>
      </div>

    </div>
    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav navbar-right" style="">

        <li style="margin-right:20px;">
          <button class="btn btn-form btn-lg navVert">
            <%= link_to "Become a Host", new_room_path, style: "color: white; text-decoration: none; " %>
          </button>
        </li>

        <% if (!user_signed_in?) %>

          <li class="navVert"><%= link_to "Login", new_user_session_path %></li>
          <li class="navVert"><%= link_to "Sign Up", new_user_registration_path %></li>
          <li class="navVert"><a href="#contact">Contact</a></li>
        <% else %>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown"
              role="button" aria-haspopup="true" aria-expanded="false">
              <%= image_tag avatar_url(current_user), class: "img-circle avatar-large" %> &nbsp;
              <%= current_user.fullname %> <span class="caret"></span>
            </a>

            <ul class="dropdown-menu">
                <li class="text-center">(<%= current_user.email %>)</li>
                <li role="separator" class="divider"></li>
                <li><%= link_to "Manage Listing", rooms_path %></li>
                <li><%= link_to "List Your Space", new_room_path %></li>
                <li><%= link_to "Your Reservations", your_reservations_path %></li>
                <li><%= link_to "Your Trips", your_trips_path %></li>
                <li role="separator" class="divider"></li>
                <li><%= link_to "Edit Profile", edit_user_registration_path %></li>
                <li><%= link_to "Log out", destroy_user_session_path, method: :delete %></li>
              </ul>
          </li>
        <% end %>
      </ul>
    </div><!--/.nav-collapse -->
  </div>
</nav>
