<div class="row">
  <div class="col-md-3">
    <%= render 'room_menu' %>
  </div>
  <div class="col-md-9">
    <div class="panel panel-default">

      <div class="panel-heading">
        Amenities
      </div>

      <div class="panel-body">
        <div class="container">
          <%= form_for @room do |f| %>

              <div class="row form-group">
                <div class="col-md-3">
                  <%= f.check_box :koran_book %> Koran book
                </div>
                <div class="col-md-3">
                  <%= f.check_box :prayer_room %> Prayer room
                </div>
                <div class="col-md-3">
                  <%= f.check_box :prayer_rug %> Prayer rug
                </div>
                <div class="col-md-3">
                  <%= f.check_box :mecca_orientation %> Orientation to the Mecca
                </div>
              </div>

              <div class="row form-group">
                <div class="col-md-3">
                  <%= f.check_box :welcome_tea_fruit %> Welcoming glass of tea and date fruit
                </div>
                <div class="col-md-3">
                  <%= f.check_box :halal_breakfast %> Halal Breakfast
                </div>
                <div class="col-md-3">
                  <%= f.check_box :is_kitchen %> Kitchen
                </div>
                <div class="col-md-3">
                  <%= f.check_box :ramadan_food_drinks %> Food and drinks available during authorized hours for Ramadan
                </div>

              </div>

              <div class="row form-group">
                <div class="col-md-3">
                  <%= f.check_box :is_tv %> TV
                </div>
                <div class="col-md-3">
                  <%= f.check_box :arabic_channels %> Arabic Channels
                </div>
                <div class="col-md-3">
                  <%= f.check_box :is_internet %> Internet
                </div>
                <div class="col-md-3">
                  <%= f.check_box :is_douche %> Wc douche
                </div>
              </div>

              <div class="row form-group">
                <div class="col-md-3">
                  <%= f.check_box :is_heating %> Heating
                </div>
                <div class="col-md-3">
                  <%= f.check_box :is_air %> Air Conditioning
                </div>
                <div class="col-md-3">
                  <a  role="button" data-toggle="collapse" href="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                    <input type="checkbox"> Halal bar
                  </a>
                </div>
              </div>



              <div class="collapse" id="collapseExample">
                  <div class="row">
                    <div class="form-group">
                      <label>Halal bar</label>
                      <%= f.text_area :halal_bar, rows: 5, placeholder: "What is include in your bar (eg. plenty of tea choices, all arabic kind of coffee, chocolates, soda, fruit juice, ice cream, shisha and plenty of arabic pastries)", class: "form-control", required: false %>
                    </div>
                  </div>
              </div>

              <br/><br/>

              <div class="text-center">
                <%= f.submit "Save", class: "btn btn-form" %>
              </div>

          <% end %>
        </div>
      </div>

    </div>
  </div>
</div>
