<!-- Commit -->

<div class="row">
  <div class="col-md-12">
    <%= image_tag @room.cover_photo(nil), width: "100%" %>
    <!--<%= image_tag @room.cover_photo(:original), width: "100%" %>-->

  </div>
</div>
<br>

<div class="row">
  <!-- Left Pannel -->
  <div class="col-md-8">
    <!-- listing name -->
    <div class="row">
      <div class="col-md-8">
        <h1><%= @room.listing_name %></h1>
        <%= @room.address %>
      </div>
      <div class="col-md-4 text-center">
        <%= image_tag avatar_url(@room.user), class: "img-circle avatar-large" %>
        <%= @room.user.fullname %>
        <br/>
        <br/>
      </div>

    </div><hr>
    <!-- Room info -->
    <div class="row text-babu">
      <div class="row text-center row-space-1">
        <dvi class="col-md-3">
          <i class="fa fa-home fa-2x "></i>
        </dvi>
        <dvi class="col-md-3">
          <i class="fa fa-user-circle-o fa-2x "></i>
        </dvi>
        <dvi class="col-md-3">
          <i class="fa fa-bed fa-2x "></i>
        </dvi>
        <dvi class="col-md-3">
          <i class="fa fa-bath fa-2x "></i>
        </dvi>
      </div>

      <div class="row text-center">
        <div class="col-md-3"><%= @room.home_type %></div>
        <div class="col-md-3"><%= pluralize(@room.accommodate, "Guest") %></div>
        <div class="col-md-3"><%= pluralize(@room.bed_room, "Bedroom") %></div>
        <div class="col-md-3"><%= pluralize(@room.bath_room, "Bathroom") %></div>
      </div>

    </div><hr>
    <!-- About -->
    <div class="row">
      <div class="col-md-12">
        <h3>About This Listing</h3>
        <p> <%= @room.summary %></p>
      </div>
    </div><hr>
    <!-- Amenities -->
    <div class="row">
      <div class="col-md-3">
        <h4>Amenities</h4>
      </div>
      <div class="col-md-9">
        <div class="col-md-6">
          <ul class="amenities">
            <li class="<%= 'text-line-through' if !@room.welcome_tea_fruit %>">Welcome tea and fruit</li>
            <li class="<%= 'text-line-through' if !@room.koran_book %>">koran Book</li>
            <li class="<%= 'text-line-through' if !@room.prayer_room %>">Prayer Room</li>
            <li class="<%= 'text-line-through' if !@room.prayer_rug %>">Prayer Rug</li>
            <li class="<%= 'text-line-through' if !@room.is_tv %>">TV</li>
            <li class="<%= 'text-line-through' if !@room.arabic_channels %>">Arabic Channels</li>
          </ul>
        </div>
        <div class="col-md-6">
          <ul class="amenities">
            <li class="<%= 'text-line-through' if !@room.mecca_orientation %>">Oriented to Meca</li>
            <li class="<%= 'text-line-through' if !@room.ramadan_food_drinks %>">Authorized hours Ramadan Food</li>
            <li class="<%= 'text-line-through' if !@room.is_kitchen %>">Kitchen</li>
            <li class="<%= 'text-line-through' if !@room.is_internet %>">Internet</li>
            <li class="<%= 'text-line-through' if !@room.is_heating %>">Heating</li>
            <li class="<%= 'text-line-through' if !@room.is_air %>">Air Conditioning</li>
          </ul>
        </div>
        <hr/>
      </div>
    </div><hr>
    <div class="row">
      <div class="col-md-3"><h4>Halal Bar</h4></div>
      <div class="col-md-9">
        <p><%= @room.halal_bar %> </p>
      </div>
    </div>
    <hr/>
    <!-- Carousel -->
    <div class="row">
      <% if @photos.length > 0 %>
        <div id="myCarousel" class="carousel slide" data-ride="carousel">
          <!-- Indicators -->
          <ol class="carousel-indicators">
            <% @photos.each do |photo| %>
            <li data-target="#myCarousel" data-slide-to="<%= photo.id %>"></li>
            <% end %>

          </ol>

          <!-- Wrapper for slides -->
          <div class="carousel-inner">
            <% @photos.each do |photo| %>
              <div class="item <%= 'active' if photo.id == @photos[0].id %>">
                <%= image_tag photo.image.url(), class: "fullwidth" %>
              </div>
            <% end %>

          </div>

          <!-- Left and right controls -->
          <a class="left carousel-control" href="#myCarousel" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="right carousel-control" href="#myCarousel" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right"></span>
            <span class="sr-only">Next</span>
          </a>
        </div>
      <% end %>
    </div><hr>
    <hr/>
    <!-- Reviews -->
    <div class="col">
      <div class="col-md-12">
        <h3>
          <%= pluralize(@guest_reviews.count, "Review") %>
          <span id="average:rating"></span>
        </h3>
        <div class="container">

        </div>
      </div>
    </div>
    <hr>



    <!-- Google Map -->
    <div class="row">
      <div id="map" style="width: 100%; height: 400px"></div>
      <script src="https://maps.googleapis.com/maps/api/js"></script>
      <script>
        function initialize() {
          var location = {lat: <%= @room.latitude %>, lng: <%= @room.longitude %> };
          var map = new google.maps.Map(document.getElementById('map'), {
            center: location,
            zoom: 14
          });

          var marker = new google.maps.Marker({
            position:location,
            map: map
          });

          var infoWindow = new google.maps.InfoWindow({
            content: '<div id="content"><%= @room.listing_name %><br/><br/><%= image_tag @room.cover_photo(:original), class: "image-medium" %></div>'
          });

          infoWindow.open(map, marker);
        }

        google.maps.event.addDomListener(window, 'load', initialize);
      </script>
    </div><hr/>
    <hr/>
    <!-- NEAR BY ROOMS -->
    <div class="row">
      <H3>Near by</H3>
      <% for room in @room.nearbys(10) %>
        <div class="col-md-4">
          <div class="panel panel-default">
            <div class="panel-heading preview">
              <%= image_tag room.cover_photo(:original), class: "image-medium" %>
            </div>
            <div class="panel-body">
              <%= link_to room.listing_name, room %> <br/>
              (<%= room.distance.round(2) %> Km away)
            </div>
          </div>
        </div>
      <%end%>
    </div>

  </div>
  <!-- Right Pannel -->
  <div class="col-md-4">
    <!-- Reservation Form -->
    <%= render 'reservations/form' %>


  </div>

</div>
